.swiper {
  width: 240px;
  height: 320px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

main {
  /* overflow-x: hidden; */
  /* overflow-y: auto; */
}

section {
  min-height: 100svh;
}

.fp-overflow {
  overflow-y: visible !important;
}

.fp-watermark {
  display: none;
}