.swiper {
  width: 240px;
  height: 320px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.scroll-snap {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  max-height: 100vh;
}

.scroll-snap > section {
  scroll-snap-align: start;
  min-height: 100vh;
  display: flex;
}