.swiper {
  width: 240px;
  height: 320px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

section {
  min-height: 100svh !important;
  height: 100svh !important;
  max-height: 100svh !important;
}

.fp-overflow {
  display: flex;
  min-height: 100svh;
  max-height: 100svh !important;
  @media screen and (min-height: 550px) {
    overflow-y: visible !important;
  }
}

.fp-watermark {
  display: none;
}